/* 自訂bootstrap */

$primary: #ae2079;
$success: #1ab188;

$bs-heading-color: #364a63;

$text-small: 0.8rem;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;

$white: #fff;

@import "bootstrap";

.btn-outline-success:hover,
.btn-outline-success:active {
  color: white;
}

.btn-success,
.btn-success:hover,
.btn-success:active {
  color: white;
}

// [data-bs-theme="dark"] {
// 	--bs-primary: green;
// }

/* alert */
@import "alert";

.cursor-pointer {
  cursor: pointer;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  white-space: nowrap;
}
