@import "global";

.manage-layout {
	height: 100vh;
	background-color: var(--d-gray-100);
}

.manage-wrap {
	background-color: var(--d-gray-100);
}

.manage-body.manage-title {
	line-break: anywhere;
}

.manage-head {
	background-color: var(--d-gray-0);
	border-bottom: 1px solid $gray-300;
	box-shadow: 0px 1px 3px 0px rgb(54 74 99 / 5%);
	z-index: 3;
}

[data-bs-theme=dark] .manage-head {
  border-bottom: 1px solid $gray-600;
}

.manage-wrap.show-slider {
	padding-left: 290px;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.manage-table {
	border-collapse: separate;
	border-spacing: 0 8px;
}

.manage-table .manage-table-head {
	font-weight: 400;
	font-size: $text-small;
}

.manage-table > div {
	// display: table-row;
	margin: 8px 0;
	padding: 0.4rem 0;
	font-size: 0.9rem;
	color: var(--d-gray-600);
	background-color: var(--d-gray-0);
	border-radius: 4px;
	transition: background-color .3s, box-shadow .3s;
	box-shadow: 0px 1px 3px 0px rgb(54 74 99 / 15%);
}

.manage-table > div > div {
	// display: table-cell;
	padding: 0.8rem 0.4rem;
	margin: auto 0; // 垂直置中
	// vertical-align: middle;
}

.manage-table > div:not(.manage-table-head):hover {
	box-shadow: 0 2px 15px -4px rgb(186 69 130 / 20%);
}

@media (min-width: 1200px) {
	.manage-wrap {
		padding-left: 290px;
	}
}

@media (max-width: 768px) {
	.manage-table > div {
		padding: 0.8rem 0;
	}
}

.icon-link{
  transition: color .4s, background-color .4s, border .4s, box-shadow .4s;
  color: $secondary;
  text-decoration: none;
  border-radius: 50%;
}

.icon-link:hover,
.icon-link:hover{
  color: $primary;
  background-color: var(--d-gray-300);
}

.option-wrap {
	background-color: var(--d-gray-300);
	border-radius: 5px;
}

// .category-btn-wrap {
// 	border: $primary 1px solid;
// 	border-radius: 5px;
// }